body {
  background: #000000 url('/img/blackOrchid.png') repeat;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
}
.hidden {
  display: none;
}
.active {
  background-color: #333333;
  pointer-events: none;
  cursor: default;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
}


/* side menu */
#sideMenu {
  position: absolute;
  padding-top: 10px;
  margin: -22px 0 0 -30px;
}
#sideMenu a {
  text-decoration: none;
  color: #ffffff;
}


/* nathan svg */
#nathan {
  position: absolute;
  top: 28px;
  left: -7px;
  margin: 0 auto;
  width: 320px;
  height: 160px;
  overflow: hidden;
  clear:both;
}
#iePic {
  position: relative;
  left:60px;
  top: 8px;
  width: 200px;
  height: 135px;
  display: none;
}


/* nathan description */
#nathanDescr {
  margin-top: 160px;
  margin-left: 53px;
  clear: both;
}
#nathanDescr h2 {
  font-weight: 900;
  font-size: 17px;
}


/* main navigation */
#mainNav {
  margin-top: 15px;
  margin-left: 35px;
  text-transform: uppercase;
}
#mainNav ul {
  list-style: none;
}
#mainNav li {
  float: left;
  padding: 0px 10px;
  border-right: 1px solid #ffffff;
}
#mainNav li:last-of-type {
  border-right: none;
}
#mainNav a {
  text-decoration: none;
  color: #ffffff;
}
#mainNav li:hover {
  background-color: #333333;
}


/* project list */
#projectList {
  margin: 60px 0px 0px 13px;
  text-transform: uppercase;
}
#projectList ul {
  list-style: none;
}
#projectList li {
  padding: 5px 0px 5px 5px;
  border-top: 1px solid #ffffff;
  width: 200px;
}
#projectList li:last-of-type {
  border-bottom: 1px solid #ffffff;
}
#projectList li:hover {
  background-color: #333333;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
}
#projectList a {
  text-decoration: none;
  color: #ffffff;
  height: 100%;
  width: 100%;
  display: block;
}


/* social media links */
#socialMedia {
  margin-top: 51px;
  margin-left: 53px;
}
#socialMedia h2 {
  font-size: 95%;
  margin: 0;
  margin-bottom: -20px;
}
#socialMedia ul{
  position: relative;
	list-style: none;
	padding: 0;
	clear: both;
}
#socialMedia li{
	float: left;
	margin-right: 19px;
}
#socialMedia li img{
	width: 40px;
	height: 40px;
	border: none;
	margin-top: 15px;
	-webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}
#socialMedia li img:hover {
  margin-top: 5px;
}
#socialMedia li:first-of-type img {
  width: 30px;
  height: 30px;
  padding-top: 5px;
}
#socialMedia li:first-of-type {
  margin-right: 25px;
}
#socialMedia li:last-of-type img {
  width: 35px;
  height: 35px;
}


/* main content area */
#content {
  position: relative;
  margin-left: 240px;
  padding: 15px 25px 10px 10px;
  color: #666666;
  height: 640px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
#content.load {
  opacity: 1;
}
#content h2 {
  margin: 0 0 20px 0;
  font-size: 130%;
}
#content a {
  color: #ffffff;
  text-decoration: none;
}
#content section {
  background-color: #1a1a1a;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 22px;
  height: 100%;
}
#content p {
  text-align: justify;
}


/* home */
#home {
  background: url("/img/home.png") no-repeat;
}
#homeContent {
  background: rgba(0,0,0,0.85);
  -webkit-transition: 1s opacity ease-in;
  -moz-transition: 1s opacity ease-in;
  -o-transition: 1s opacity ease-in;
  -ms-transition: 1s opacity ease-in;
}
#home h2, 
#home p {
  text-align: center;
}
#home h2{
  margin-top: 200px;
  padding-top: 10px;
  font-size: 28px;
}
#home p {
  font-size: 18px;
  margin: 0 0 5px 0;
}
#home p:last-of-type {
  padding-bottom: 15px;
  margin-top: 10px;
}
.drop {
  opacity: 0;
}


/* rorschach */
#experimentCanvas {
  background-color: #333333;
  height: 480px;
  width: 640px;
  margin: 0 auto;
}
#gitButton {
  position: absolute;
  bottom: 15px;
  right: 50px;
  background-color: #333333;
  padding: 5px 7px;
}
#head {
  background: #333333 url("/img/rorschachBlank.png") no-repeat center center;
  height: 480px;
  width: 640px;
  position: absolute;
}
#eyes {
  position: absolute;
  top:30px;
  left:-130px;
}
#mouth {
  position: absolute;
  top:160px;
  left:-130px;
}
#cheeks {
  position: absolute;
  top:100px;
  left:-130px;
}
.scale {
  transform:scale(0.3,0.3);
  -webkit-transform:scale(0.3,0.3);
}


/* about */
#about img {
  height: 298px;
  margin: 0px 135px 20px 0px;
  float: left;
}
#about ul {
  list-style: none;
}
#about p {
  text-align: justify;
}

#skills {
  margin-top: -5px;
  margin-bottom: 25px;
}
#skillList h4,
#skillList p {
  margin: 0;
  padding: 0;
}
#skillList p {
  padding-bottom: 10px;
}
#skillList li:last-of-type p {
  padding-bottom: 0;
}

#story {
  clear: both;
}


/* projects */
#project p {
  margin-top: 0;
}
#siteButton {
  position: absolute;
  bottom: 15px;
  right: 50px;
  background-color: #333333;
  padding: 10px;
}
.marginBottom {
  margin-bottom: 5px;
}


/* responsive slides */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 60%;
  padding: 0;
  margin: 0 auto;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.rslides_tabs {
  list-style: none;
  margin: 0 auto 10px;
  max-width: 385px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 16px;
  font-size: 12px;
  padding: 0px 7px;
  margin: 0 5px;
  height: auto;
  display: inline;
  color: #333333;
  background-color: #333333;
  text-decoration: none;
}
.rslides_tabs a:hover {
  border: 0;
  background-color: #333333;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: #ffffff;
  color: #ffffff;
}


/* if user is using anything lower than ie9 */
.lt-ie9 #iePic {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 30px;
}


/* fade in styles */
.opacity {
  opacity: 0;
}
.fadeIn {
  -webkit-transition: all 3.5s ease; 
	-moz-transition: all 3.5s ease; 
	-o-transition: all 3.5s ease;
  opacity: 1;
}
.load {
  opacity: 1;
}