.logo {
  display: flex;
  margin: 125px auto auto;
  max-width: 90%;
}

.contact {
  text-align: center;
  margin-top: 20px;
  img {
    height: 35px;
    width: 35px;
    &:first-of-type {
      margin-right: 20px;
    }
  }
}

p {
  color: #ffffff;
  font-family: 'Roboto', Helvetica, sans-serif;
  text-align: center;
  margin-top: 40px;
}
