@import "./buttonReset";
@import "./reset";
@import "./tachyons";

html, body {
  line-height: normal;
  background-color: #111111;
}

// extend Tachyons with some custom classes

// WIDTH AND HEIGHT

.min-vh-25 {
  min-height: 25vh;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-75 {
  min-height: 75vh;
}

.min-vh-80 {
  min-height: 80vh;
}

.min-vh-90 {
  min-height: 90vh;
}

// Border Box

.border-box {
  box-sizing: border-box;
}
