body{
	background-image:url('../img/blackbackground.jpg');
	background-color: #000000;
    background-size: 100%;
   	background-repeat: no-repeat;
    background-position:center top;
    background-attachment:fixed;
    background-size: cover;
	color: #ffffff;
}

body>h1,
.navbar h1,
.mainContent h1,
.social-icons h2,
#description h2,
#quote h2,
#home-body h2,
#about h2,
#contact h2{
	display:none;
}

.social-icons{
	text-align: center;
	padding-bottom: 20px;
}

.social-icons img{
	width:40px;
	height:40px;
}

#home-body{
	padding: 50px 350px 20px 350px;
	text-align: center;
}

#home-body p{
	color: #000000;
	background-color: #ffffff;
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}

#home-body p:hover{
	color: #ffffff;
	background-color: #000000;
}

#version2{
	padding: 0px 175px 0px 175px;
	text-align: center;
}

#version2 h2{
	color: #000000;
	background-color: #C9DB39;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
}

#description{
	text-align: center;
	padding: 50px 300px 20px 300px;
}

#description p{
	color: #000000;
	background-color: #ffffff;
	font-size: 20px;
	line-height: 25px;
}

#quote{
	text-align: center;
	padding: 50px 225px 20px 225px;
}

#quote p{
	font-size: 12px;
	line-height: 26px;
}

#about{
	padding: 20px 250px 0px 250px;
}

#nate-picture{
	text-align:center;
}

#nate-picture img{
	border-radius: 50px;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
}

#portfolio{
	text-align: center;
	position:relative;
}


/*CONSTRUCTION CSS FOR PORTFOLIO*/

#overlay{
	background-color: #c5c4c4;
	opacity: .2;
}

#construction {
	left: 325px;
	font-size: 24px;
}

#portfolio a {
   cursor: default;
}

/*END OF CONSTRUCTION*/


#portfolio h1{
	padding-bottom: 10px;
	position:relative;
}

#portfolio p{
	text-align: left;
	padding-top: 10px;
	position:relative;
}

#top-portfolio{
	clear: both;
	position:relative;
	z-index: -1;
}

#jobs-uni{
	width: 460px;
	float: left;
	position:relative;
}

#vistabon{
	width: 460px;
	float: right;
	position:relative;
}

#center-portfolio{
	clear:both;
	padding-top: 20px;
	text-align: center;
	position:relative;
	z-index: -1;
}

#center-portfolio h2{
	margin-bottom: 20px;
	position:relative;
}

#center-portfolio p{
	clear: both;
	padding: 20px 50px 20px 50px;
	position:relative;
}

#ta-cert-request{
	width: 440px;
	float: left;
	padding-top: 27px;
	margin: 0;
	position:relative;
}

#ta-cert-report{
	width: 440px;
	float: right;
	margin: 0;
	position:relative;
}

#bottom-portfolio{
	clear: both;
	text-align: center;
	position:relative;
	z-index: -1;
}

#bottom-portfolio p{
	clear: both;
	padding: 20px 50px 20px 50px;
	position:relative;
}

#fac-peer-rev{
	width: 460px;
	float: left;
	padding-left: 200px;
	position:relative;
}

#contact{
	text-align: center;
	line-height: 28px;
	font-size: 24px;
	padding: 50px 0 20px 0;
}

#contact p{
	margin: 0;
}